<h1>Welcome to My Mind Map</h1>
<br>
<p>
According to mental health charity, Mind, 1 in 6 people in England
reported experiencing a common health problem (such as anxiety or depression).
<br>
All these statistics can sometimes overwhelm us and make us think
that mental health illnesses are on the rise.<br>
In 2016, a digital NHS survey looked into mental health and wellbeing in England,
and found that the overall number of people with mental health problems
had not changed significantly in recent years.<br>
However, the survey showed that the way that we cope with mental health problems
is becoming increasingly difficult and that medication is the most
common type of treatment for a mental health problem.<br>

<h2>About Mind Map</h2>
Mind Map is a test project which is looking to collect data from users
who fill out our form and submit their answers to us about their mental health
in general.
  <br>
It's estimated that 1 in 4 people in the UK will experience a mental health illness
at some point in their life.<br>
But when it comes to ethnic minorities, people from low income groups
and other marginalised communities, the numbers don't match the stories
that people from these communities talk about.<br>

</p>
